

<div class="card" style="width: 18rem;">
  <img src="https://angular.io/assets/images/logos/angular/angular.svg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <input type="checkbox" [(ngModel)]="showContent" class="form-check-input"> 
    <label class="form-check-label">Show content</label> 
    <div *ngIf="showContent" class="card mt-3">Contenido visible cuando el checkbox está activadoContenido visible cuando el checkbox está activadoContenido visible cuando el checkbox está activadoContenido visible cuando el checkbox está activadoContenido visible cuando el checkbox está activadoContenido visible cuando el checkbox está activadoContenido visible cuando el checkbox está activado</div>
  </div>
</div>